.card {
  /**width: calc((100% - 80px) / 4);*/
  margin: 10px;
  background-color: #000;
  overflow: hidden;

  transition: transform 500ms ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 4px;

  transition: transform 500ms ease-in-out;
}

.header {
}

.header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.body {
  padding: 5px 10px;
  color: #fff;
}

.status {
  display: flex;
  align-items: center;
}

.round {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  display: block;
  margin-right: 10px;
}

.green {
  background-color: #23ac23;
}

.red {
  background-color: #630404;
}

.orange {
  background-color: tomato;
}
