section {
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  background-color: #f2f2f2;
}

.withContent {
  justify-content: flex-start;
}

.withoutContent {
  justify-content: center;
  align-items: center;
}
